body {
    margin-top: 30px;
}

.jumbotron {
    height: auto;
    overflow: auto;
}

.jumbotron.h1, .jumbotron h1 {
    font-size: 2em;
}

div.jumbotron.ng-scope {
    padding: 10px 20px;
    margin-bottom: 0;
}

h3, h4 {
    text-align: center;
    margin-bottom: 2%;
}

.projectTitles {
    font-weight: bold;
}

.projectsFontSize {
    font-size: 1.2em;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

form.tab-form-demo .tab-pane {
    margin: 20px 20px;
}

.label {
    margin: 1px;
    font-weight: normal;
}

footer {
    margin-top: 2%;
    text-align: center;
}

.footer-img {
    width: 3%;
}

footer span {
    margin-left: 2%;
}