<div class="container">
    <h3>{{currentProject.Name}}</h3>
    <div class="row">
        <div class="col-sm-6">
            <h4>Project Details</h4>
            <p class="projectsFontSize"><span class="projectTitles">Name:</span> {{currentProject.Name}}</p>
            <p class="projectsFontSize"><span class="projectTitles">Id:</span> {{currentProject.Id}}</p>
            <p class="projectsFontSize"><span class="projectTitles">Key:</span> {{currentProject.ProjectKey}}</p>
            <p class="projectsFontSize"><span class="projectTitles">Description:</span> {{currentProject.Description}}
            </p>
            <p class="projectsFontSize"><span class="projectTitles">Lead:</span> {{currentProject.Lead.Username}}</p>
            <p class="projectsFontSize"><span class="projectTitles">Priorities:</span> {{currentProject.Priorities |
                arrayFilter: ','}}</p>
            <p><span class="projectTitles projectsFontSize">Labels:</span>
                <span class="label label-default" ng-repeat="label in currentProject.Labels">{{label.Name}}</span>
            </p>
        </div>
        <div class="col-sm-6" class="form-horizontal">
            <h4>Issues</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Due</td>
                    <td>Title</td>
                    <td>Status</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="issue in currentProjIssues" ng-click="goToOwnIssue(issue.Id)" ng-show="showAll">
                    <td>{{issue.Id}}</td>
                    <td class="col-md-2">{{issue.DueDate | date:'dd MMM yy'}}</td>
                    <td>{{issue.Title}}</td>
                    <td>{{issue.Status.Name}}</td>
                </tr>

                <tr ng-repeat="issue in currentProjCurrenUserIssues" ng-click="goToOwnIssue(issue.Id)"
                    ng-hide="showAll">
                    <td>{{issue.Id}}</td>
                    <td class="col-md-2">{{issue.DueDate | date:'dd MMM yy'}}</td>
                    <td>{{issue.Title}}</td>
                    <td>{{issue.Status.Name}}</td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-default" ng-click="toggleShowAll()" ng-hide="showAll">Show All</button>
            <button class="btn btn-default" ng-click="toggleShowAll()" ng-show="showAll">Show Mine</button>
        </div>
    </div>
</div>
<button ng-click="goToEdit()" class="btn btn-default" ng-if="isLead">Edit</button>
<button ng-click="goToAddIssue()" class="btn btn-default" ng-if="isLead">Add Issue</button>
<button ng-click="goToDashboard()" class="btn btn-default">< Back to Dashboard</button>
