<h3>Editing {{editedProject.Name}}</h3>

<div class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-lg-2 projectsFontSize" for="projectEditName">Name</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="projectEditName" ng-model="editedProject.Name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2 projectsFontSize" for="projectId">Id:</label>
            <div class="col-lg-5">
                <input class="form-control" id="projectId" type="text" ng-model="editedProject.Id" disabled="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2 projectsFontSize" for="projectKey">Key:</label>
            <div class="col-lg-5">
                <input class="form-control" id="projectKey" type="text" ng-model="editedProject.ProjectKey" disabled="">
            </div>
        </div>

        <div class="form-group">
            <label for="projectDescription" class="col-lg-2 control-label projectsFontSize">Description</label>
            <div class="col-lg-5">
                <textarea class="form-control" rows="3" id="projectDescription"
                          ng-model="editedProject.Description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2 projectsFontSize" for="projectLead">Lead</label>
            <div class="col-lg-5">
                <select class="form-control" name="projectLead" id="projectLead"
                        ng-options="user as user.Username for user in allUsers track by user.Id"
                        ng-model="editedProject.LeadId">
                    <option value="user.Id" ng-selected="editedProject.Lead">{{user.Username}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2 projectsFontSize" for="addIssuePriorities">Priorities</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="addIssuePriorities" ng-model="editedProject.EditPriorities">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2 projectsFontSize" for="projectEditLabels">Labels</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="projectEditLabels" ng-model="editedProject.EditLabels">
            </div>
        </div>
    </fieldset>
</div>

<button ng-click="edit(editedProject)" class="btn btn-default">Edit Project</button>
<button ng-click="goToProject()" class="btn btn-default">Cancel</button>