<div class="container">
    <h3>Issue {{currentIssue.Title}}</h3>
    <div class="row">
        <div class="col-sm-5">
            <h4>Issue Details</h4>
            <p class="projectsFontSize"><span class="projectTitles">Issue Title:</span> {{currentIssue.Title}}</p>
            <p class="projectsFontSize"><span class="projectTitles">Issue Id:</span> {{currentIssue.Id}}</p>
            <p class="projectsFontSize"><span class="projectTitles">Priority:</span> {{currentIssue.Priority.Name}}</p>
            <p class="projectsFontSize"><span class="projectTitles">Description:</span> {{currentIssue.Description}}</p>
            <p class="projectsFontSize"><span class="projectTitles">Assignee:</span> {{currentIssue.Assignee.Username}}</p>
            <p class="projectsFontSize"><span class="projectTitles">Due Date:</span> {{currentIssue.DueDate | date:'dd MMM yyyy'}}</p>
            <p class="projectsFontSize"><span class="projectTitles">Project Name:</span> {{currentIssue.Project.Name}}</p>
            <p class="projectsFontSize"><span class="projectTitles">Project Id:</span> {{currentIssue.Project.Id}}</p>
            <p class="projectsFontSize"><span class="projectTitles">Status:</span> {{currentIssue.Status.Name}}</p>
            <p><span class="projectTitles projectsFontSize">Labels:</span>
                <span class="label label-default" ng-repeat="label in currentIssue.Labels">{{label.Name}}</span>
            </p>
        </div>
        <div class="col-sm-7" class="form-horizontal">
            <h4>Comments</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td class="date-cell">Added</td>
                    <td class="author-cell">Author</td>
                    <td>Content</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="comment in issueComments">
                    <td class="date-cell">{{comment.CreatedOn | date:'dd MMM yy'}}</td>
                    <td class="author-cell">{{comment.Author.Username}}</td>
                    <td>{{comment.Text}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button ng-click="editIssue()" class="btn btn-default">Edit</button>
<button class="btn btn-default" data-toggle="modal" data-target="#commentModal">Add Comment</button>
<button class="btn btn-default" data-toggle="modal" data-target="#statusModal">Change Status</button>
<button ng-click="backToProject()" class="btn btn-default">< Back to Project</button>


<!--Add comment modal-->
<div class="modal" id="commentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add comment</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" rows="3" ng-model="addCommentDescription"
                          placeholder="Comment description"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="addComment()" type="submit" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<!--Change status modal-->
<div class="modal" id="statusModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Change issue status</h4>
            </div>
            <div class="modal-body">
                <select class="form-control" ng-model="newStatus">
                    <option value="{{availableStatus.Id}}" ng-repeat="availableStatus in currentIssue.AvailableStatuses">
                        {{availableStatus.Name}}
                    </option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="changeStatus()" type="submit" class="btn btn-default" data-dismiss="modal">Save
                </button>
            </div>
        </div>
    </div>
</div>