<h3>Dashboard</h3>
<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Assigned Issues">
        <div class="jumbotron">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Due Date</td>
                    <td>Name</td>
                    <td>Status</td>
                    <td>Project ID</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="assignedIssue in assignedIssues" ng-click="goToIssue(assignedIssue.Id)">
                    <td>{{assignedIssue.DueDate | date:'dd MMM yy'}}</td>
                    <td>{{assignedIssue.Title}}</td>
                    <td>{{assignedIssue.Status.Name}}</td>
                    <td>{{assignedIssue.Project.Id}}</td>
                </tr>
                </tbody>
            </table>
            <uib-pagination total-items="assignedIssuesTotalNumber" ng-model="projectsParams1.startPage"
                            max-size="maxSize" class="pagination-sm"
                            boundary-links="true" rotate="false" items-per-page="itemsPerPage"
                            ng-change="getIssues(projectsParams1.startPage)"
                            ng-if="assignedIssuesTotalNumber > itemsPerPage">
            </uib-pagination>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Projects Led">
        <div class="jumbotron">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Lead</td>
                    <td>Labels</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="projectLead in projectsLead" ng-click="goToProject(projectLead.Id)">
                    <td>{{projectLead.Name}}</td>
                    <td>{{projectLead.Lead.Username}}</td>
                    <td><span class="label label-default" ng-repeat="label in projectLead.Labels">{{label.Name}}</span></td>
                </tr>
                </tbody>
            </table>
            <uib-pagination total-items="totalLedProjects" ng-model="projectsParams2.startPage"
                            max-size="maxSize" class="pagination-sm"
                            boundary-links="true" rotate="false" items-per-page="itemsPerPage"
                            ng-change="getLedProjects(projectsParams2.startPage)"
                            ng-if="totalLedProjects > itemsPerPage">
            </uib-pagination>
        </div>
    </uib-tab>
    <uib-tab index="2" heading="Projects With Assigned Issues">
        <div class="jumbotron">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Lead</td>
                    <td>Labels</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="projectIssue in totalProjectsWithIssuesAssigned" ng-click="goToProject(projectIssue.Id)">
                    <td>{{projectIssue.Name}}</td>
                    <td>{{projectIssue.Lead.Username}}</td>
                    <td><span class="label label-default" ng-repeat="label in projectIssue.Labels">{{label.Name}}</span></td>
                </tr>
                </tbody>
            </table>
            <uib-pagination total-items="totalProjectsIssues" ng-model="projectsParams3.startPage"
                            max-size="maxSize" class="pagination-sm"
                            boundary-links="true" rotate="false" items-per-page="itemsPerPage"
                            ng-change="getProjectsWithAssignedIssues(projectsParams3.startPage)"
                            ng-if="totalProjectsIssues > itemsPerPage">
            </uib-pagination>
        </div>
    </uib-tab>
</uib-tabset>