<h3>Dashboard</h3>
<div class="jumbotron">
    <h4>Issues Assigned to You</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>Project</td>
            <td>Due Date</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="assignedIssue in assignedIssues">
            <td>{{assignedIssue.Title}}</td>
            <td>{{assignedIssue.Project.Name}}</td>
            <td>{{assignedIssue.DueDate | date:'dd MMM yyyy'}}</td>
        </tr>
        </tbody>
    </table>
    <uib-pagination total-items="assignedIssuesTotalNumber" ng-model="bigCurrentPage"
                    items-per-page="itemsPerPage" ng-change="getIssues(bigCurrentPage)"
                    max-size="9" boundary-links="true" template-url="app/common/pagination-template.html">
    </uib-pagination>
</div>

<div class="jumbotron">
    <h4>Projects Led by You</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>Lead</td>
            <td>Priorities</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="projectLead in projectsLead" ng-click="goToProject(projectLead.Id)">
            <td>{{projectLead.Name}}</td>
            <td>{{projectLead.Lead.Username}}</td>
            <td>{{projectLead.Priorities | arrayFilter:', '}}</td>
        </tr>
        </tbody>
    </table>
    <uib-pagination total-items="totalLedProjects" ng-model="bigCurrentPage"
                    items-per-page="itemsPerPage" ng-change="getLedProjects(bigCurrentPage)"
                    max-size="9" boundary-links="true" template-url="app/common/pagination-template.html">
    </uib-pagination>
</div>

<div class="jumbotron">
    <h4>Project with Issues Assigned to You</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>Lead</td>
            <td>Priorities</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="projectIssue in projectsWithIssuesAssigned" ng-click="goToProject(projectIssue.Id)">
            <td>{{projectIssue.Name}}</td>
            <td>{{projectIssue.Lead.Username}}</td>
            <td>{{projectIssue.Priorities | arrayFilter:', '}}</td>
        </tr>
        </tbody>
    </table>
    <uib-pagination total-items="totalProjectsIssue" ng-model="bigCurrentPage"
                    items-per-page="itemsPerPage" ng-change="getProjectsWithAssignedIssues(bigCurrentPage)"
                    max-size="9" boundary-links="true" template-url="app/common/pagination-template.html">
    </uib-pagination>
</div>